<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Default for Zainab Batool Website</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body class="body">
    <nav>
    		<ul class="menu">
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/education">Education</a></li>
            <li><a href="/experience">Experience</a></li>
        		<li><a href="/projects">Projects</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/contact">Contact</a></li>
    		</ul>
    </nav>
    <footer>
    		<ul class="menu">
        		<li><a href="mailto:batool.zainab98@gmail.com"><img src="email.jpg" alt="email" class=image></a></li>
	        	<li><a href="https://github.com/zainabbatool"><img src="github.png" alt="github"class=image></a></li>
        		<li><a href="https://www.linkedin.com/in/zainab-batool98"><img src="linkedin.png" alt="linkedin"class=image></a></li>
    		</ul>
    </footer>

  </body>
</html>
